<!DOCTYPE html>
<html>
   <head> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

      <script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>

   </head>

      <body>
          <div class="container">
          <h2> Select Action </h2>
        

             <form action="/action" method="POST">
             <div class="form-group">
                 <select class="form-control" name="reqtype">
                   <option value="POST">Post</option>
                   <option value="GET"> Get</option>
                   <option value="PUT"> Put</option>


{% autoescape false %}
   {{result}}
{% endautoescape %}


                   <option role="separator" class="divider"></option>


                   <option  value = "DELETE"> Delete</option>
                 </select>
               </div>


            Host:<br />
            <input type="text" class='form-control' name="host"> <br />
            Username:<br />
            <input type="text" class='form-control' name="username"> <br />
            Password:<br />
            <input type="text" class='form-control' name="password"> <br />
            Request:<br />
            <input type="text" class='form-control' name="request"><br />
            Parameter:<br />
            <input type="text" class='form-control' name="parameters"> <br />
            File:<br />
            <input type="text" class='form-control' name="file"> <br /> <br />

            <input class="btn btn-primary" type="submit" value="Submit"> <br>


      
         </form>

         {{result}}


      

      </body>
   </html>
