<!DOCTYPE html>
<html>
   <head>
       <title>Croak!</title>
      <meta name="viewport" content="width=device-width, initial-scale=0.8">
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/main.css') }}" >
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

      <script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

       <script>

           $(document).ready(function () {

        $("#type").change(function () {
            var val = $(this).val();
            if (val == "GET") {

                $("#request").html("{% for req in request_get %}<option value='{{ req }}'> {{ req }}</option>{% endfor %}");

            } else if (val == "POST") {
                $("#request").html("{% for req in request_post %}<option value='{{ req }}'> {{ req }}</option>{% endfor %}");
            } else if (val == "PUT") {
                $("#request").html("{% for req in request_put %}<option value='{{ req }}'> {{ req }}</option>{% endfor %}");
            }
            else if (val == "DELETE") {
                $("#request").html("<option value='test'>item3: test 1</option><option value='test2'>item3: test 2</option>");
            }
        });

       });

       </script>


       <script>

 $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
            });

        socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });


        $('form#req_form').submit(function(event) {
            socket.emit('my_event', {type: $('#type').val(), host: $('#host').val(), username: $('#username').val(), password: $('#password').val(),request: $('#request').val(), parameters: $('#parameters').val(), file: $('#file').val()});
            return false;
           });



$.makeTable = function (mydata) {
            var table = $('<table border=1>');
            var tblHeader = "<tr>";

            console.log("We made it to maketable");


            $.each(mydata[1], function(key, value){
                tblHeader += "<td style ='word-break:break-all;'><b>" + key.toString() + "</b></td>";
                console.log("KEY:" + key);
                });


            console.log("We made it past the first loop, let gooo");

            tblHeader += "</tr>";
            $(tblHeader).appendTo(table);
            console.log("appended to header");

            $.each(mydata, function (index, value) {
                var TableRow = "<tr>";
                $.each(value, function (key, val) {

                    if (typeof(val) == 'object'){
                    console.log("It's an object!");
                    TableRow += "<td style ='word-break:break-all;'>" + JSON.stringify(val) + "</td>";

                    } else{

                    console.log("It's not an object!")
                    TableRow += "<td style ='word-break:break-all;'>" + val + "</td>";


                    }


                });
                TableRow += "</tr>";
                $(table).append(TableRow);
            });

            console.log("We made it to the return, almost there");
            return ($(table));
        };





        socket.on('receive data', function(data) {

            $('#output').empty();
            var mydata = eval(data);
            var table = $.makeTable(mydata);
            $(table).appendTo("#output");

            });

        socket.on('receive data dict', function(data) {

            $('#output').empty();
            //console.log("Gonna do the eval, it's gonna crash");

            var table = $.makeTable(data);
            $(table).appendTo("#output");

            });








});
   </script>


   </head>

      <body>
        <img id="logo" src="static/images/design.png" width="350" height="90"/>
      <div class="container">

          <div class="col-md-4">




             <form id="req_form" name="req_form" method="POST" action="#">

                 <div class="form-group">


            Request:
             <select id="type" class="form-control" name="type">
                 <option value="">-- select one -- </option>
                <option value="GET">Get</option>
                <option value="POST">Post</option>
                <option value="PUT">Put</option>

                 <option value="DELETE">Delete</option>
            </select>

               </div>


            Host:<br />
            <input type="text" class='form-control' name="host" id="host"> <br />
            Username:<br />
            <input type="text" class='form-control' name="username" id="username"> <br />
            Password:<br />
            <input type="password" class='form-control' name="password" id="password"> <br />


            Request:<br />
            <select id="request" class="form-control" name="request">
                <option value="">-- select one -- </option>
            </select><br />
             Parameter:<br />
            <input type="text" class='form-control' name="parameters" id="parameters"> <br />
            File:<br />
            <input type="file" class='form-control' name="file" id="file"> <br /> <br />


            <input class="btn btn-primary" type="submit" value="Submit"> <br>


      
         </form>


          </div>


            <div class="col-md-8">
               <h1> Result: </h1>
               <div class="jumbotron result-info text-center">
                  <div class="container" id="output" name="output">



                  </div>
               </div>
            </div>

      
          </div>
      </body>
   </html>
